{{$maincamp :=index .Campaigns 0 }}
{{$secondcamp :=index .Campaigns 1 }}
{{$week :=.Week }}

{{$link1 :=index .Links 0 }}



<title>Individual</title>
{{$week}}
Week{{$week}}_
{{$maincamp.Title|AddDash}}


{{$secondcamp.Title|AddDash }}

{{$link1}}

{{$wByW:=$maincamp.Title|Xplode}}
{{index $wByW 0}}
{{index $wByW 1}}
<ul>
     
       <li class="done">{{$maincamp.Title }}</li>
       <li class="done">{{$maincamp.Body }}</li>
       <li class="done">{{$maincamp.Cta }}</li>

    
</ul>

{{range .Campaigns}}
<title>Loop</title>
<ul>
     
    <li class="done">{{.Title }}</li>
    <li class="done">{{.Body }}</li>
    <li class="done">{{.Cta }}</li>

 
</ul>
{{end}}

{{range .Links}}
<li class="done">{{.}}</li>
{{end}}




