{{$maincamp :=index .Campaigns 0 }}
{{$secondcamp :=index .Campaigns 1 }}
{{$week :=.Week }}






<title>Individual</title>
{{$week}}
Week{{$week}}_
{{$maincamp.Title|AddDash|RemoveSpecial}}


{{$secondcamp.Title|AddDash }}



{{$ctaWords:=$maincamp.Cta|XplodeLast}}
{{index $ctaWords 0}}
{{index $ctaWords 1}}

{{$ctaWords:=$maincamp.Cta|XplodeCta}}
{{index $ctaWords 0}}
{{index $ctaWords 1}}
{{index $ctaWords 2}}

<ul>
     
       <li class="done">{{$maincamp.Title }}</li>
       <li class="done">{{$maincamp.Body }}</li>
       <li class="done">{{$maincamp.Cta }}</li>

    
</ul>

{{range .Campaigns}}
<title>Loop</title>
<ul>
     
    <li class="done">{{.Title }}</li>
    <li class="done">{{.Body }}</li>
    <li class="done">{{.Cta }}</li>

 
</ul>
{{end}}

{{range .Links}}
<li class="done">{{.URL}}</li>
<li class="done">{{.Copy}}</li>
{{end}}




