{{$maincamp :=index . 0 }}
{{$secondcamp :=index . 1 }}
<title>Individual</title>
{{$maincamp.Week}}
{{$maincamp.Title|AddDash}}

{{$secondcamp.Week }}
{{$secondcamp.Title|AddDash }}
<ul>
     
       <li class="done">{{$maincamp.Title }}</li>
       <li class="done">{{$maincamp.Body }}</li>
       <li class="done">{{$maincamp.Cta }}</li>

    
</ul>

{{range .}}
<title>Loop</title>
<ul>
     
    <li class="done">{{.Title }}</li>
    <li class="done">{{.Body }}</li>
    <li class="done">{{.Cta }}</li>

 
</ul>
{{end}}




